@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-700;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-400;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: ptsans-400, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #E5E5E5;
  color: #000000;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.advantages-list{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 0 0;
  margin: 0;
}
.advantage-picture {
  width: 800px;
  height: 384px;
  margin: 0px;
}
.advantage-picture img {
  width: 100%;
}
.block-advantage {
  display: flex;
}
.advantages-mini {
  list-style-type:none;
  display: flex;
  padding: 0px;
}
.footer-social-list{
  list-style-type:none;
  margin: 0;
  padding: 0;
  max-width: 157px;
  display: flex;
  flex-wrap: wrap;
}
.footer-social-item {
  width: 50px;
  height: 50px;
}
.htmlacademy-link {
  display: block;
  padding: 42px 72px 44px 72px;
  margin-top: 2px;
}
.subscription {
  min-height: 411px;
  background-color: #81B3D3;
  color: #ffffff;
  background-image: url("../image/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subscription-catalog{
  color:#000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.subscription-email {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.field{
  background: #F2F2F2;
}
.filters {
  min-height: 411px;
  background-color: #81B3D3;
  color: #ffffff;
  background-image: url("../image/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: left;
  font-weight: 400;
  padding: 0 71px;
}
.secondary-title {
  text-transform:uppercase;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
}
.sedona-title {
  padding-top: 63px;
}
.interested-title {
  padding-top: 91px;
}
.subscription-title{
  padding-top: 94px;
}
.subscription-title-catalog {
  padding-top: 73px;
}
.dark-note {
  margin: 0 auto;
  padding-top: 31px;
}
.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
}
.breadcrumbs-list{
  font-size: 16px;
  line-height: 21px;
  list-style-type:none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.catalog-filter-list{
  list-style-type:none;
}
.control-input{
  font-size: 18px;
  line-height: 23px;
}
.note {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
.light-note{
  font-size: 22px;
  line-height: 26px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom:46px;
}
.light-note-catalog {
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom:46px;
}
.catalog-hotel {
  text-align: left;
  width: 1057px;
  margin: 0 auto;
}
.catalog-hotel-title{
  margin: 0;
}
.select-control {
  margin-right: 81px;
}
.light-text {
  background: #83B3D3;
  color: #FFFFFF;
  width: 400px;
  min-height: 384px;
}
.advantages-big{
  display: flex;
  flex-wrap: wrap;
}
.advantages-bridge {
  display: flex;
}
.dark-text {
  color:#000000;
  width: 400px;
  min-height: 384px;
}
.advantages-title {
  text-transform:uppercase;
}
.advantages {
  background-color: #ffffff;
  margin:0;
}
.promo{
  background-color: #E5E5E5;
  background: url("../image/polygonal.svg"), url("../image/background-welcome-sedona.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom 0, top center;
  background-size: 100% 57px, 100%;
  min-height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-light{
  background: rgba(131, 179, 211, 0.12);
}
.background-dark{
  background-color: rgba(131, 179, 211, 0.2);
}
.hotel-search-button{
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
  display: block;
  margin: 0 auto 91px;
}
.hotel-search-description{
  font-size: 22px;
  line-height: 26px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 56px;
}
.hotel-search {
  background-color: #ffffff;
}
.subscription-email{
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.apply-filters{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color:#83B3D3;
}
.light {
  font-size: 18px;
  line-height: 23px;
}
.contacts-phone{
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  max-width: 720px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.hotel-list {
  list-style-type:none;
  display: flex;
  flex-wrap:wrap;
  margin: 0 0 34px 0;
  padding: 0;
}
.hotel-item{
  max-width: 339px;
}
.name-hotel{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.description-hotel{
  font-size: 18px;
  line-height: 23px;
}
.raiting{
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  background: #F2F2F2;
}
.detailed-hotel{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  color: #FFFFFF;
}
.favourites{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
}
.pagination-show-more{
  width: 620px;
  height: 60px;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 30px 220px;
}
.pagination{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0 0;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-item .pagination-disabled{
  color: #000000;
  background-color:#E5E5E5;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 29px 35px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.logo {
  margin: 0;
}
.navigation-list {
  padding: 0;
  max-width: 500px;
  margin: 0 auto 0 30px;
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
}
.navigation-user {
  padding: 0;
  margin: 0;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  justify-content: flex-end;
  align-content: center;
}
.navigation-user .navigation-link {
  padding: 24px 12px;
}
.navigation-link.popup {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #FFFFFF;
  text-transform:uppercase;
  padding: 9px 25px;
  margin: 14px 0 19px 20px;
}
.navigation-link {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  padding:17px 20px;
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
  width: 1200px;
}
.catalog-filter{
  display: flex;
  justify-content:space-between ;
}
.button-filters {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}
.price-filter{
  max-width: 300px;
}
.price {
  display: flex;
  flex-wrap: wrap;
}
.type-housing {
  max-width: 140px;
}
.infrastructure {
  max-width: 150px;
}
.catalog-hotel-management {
  display: flex;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 53px;
}
.button-view {
  width: 48px;
  height: 48px;
}
.button-view:not(:last-child) {
  margin-right: 8px;
}
.subscription-form-catalog {
  margin-bottom: 140px;
}
