@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-700;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: ptsans-400;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: ptsans-400, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #E5E5E5;
  color: #000000;
  text-align: center;
}
.page-header {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.navigation-link.popup {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #FFFFFF;
  text-transform:uppercase;

}
.navigation-link {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.navigation-list{
  list-style-type:none;
}
.navigation-user{
  list-style-type:none;
}
.advantages-list{
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.advantage-picture {
  width: 800px;
  height: 384px;
  margin: 0px;
}
.pic img {
  width: 100%;
}
.block-advantage {
  display: flex;
}
.advantages-mini {
  list-style-type:none;
  display: flex;
  padding: 0px;
}
.footer-social-list{
  list-style-type:none;
  width: 107px;
}
.subscription {
  height: 411px;
  background-color: #81B3D3;
  color: #ffffff;
  background-image: url("../image/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subscription-catalog{
  color:#000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.subscription-email {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.field{
  background: #F2F2F2;
}
.filters {
  height: 411px;
  background-color: #81B3D3;
  color: #ffffff;
  background-image: url("../image/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: left;
  font-weight: 400;
  padding:  0 70px;
}
.secondary-title {
  text-transform:uppercase;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
}
.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-list{
  font-size: 16px;
  line-height: 21px;
  list-style-type:none;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.catalog-filter-list{
  list-style-type:none;
}
.control-input{
  font-size: 18px;
  line-height: 23px;
}
.note {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
.light-note{
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
}
.catalog-hotel {
  text-align: left;
  width: 1057px;
}
.light-text {
  background: #83B3D3;
  color: #FFFFFF;
  width: 400px;
  height: 384px;
}
.advantages-big{
  display: flex;
  flex-wrap: wrap;
}
.advantages-bridge {
  display: flex;
}
.dark-text {
  color:#000000;
  width: 400px;
  height: 384px;
}
.advantages-title {
  text-transform:uppercase;
}
.advantages {
  background-color: #ffffff;
  margin: 0;
}
.index-background{
  background-color: #ffffff;
}
.background-light{
  background: rgba(131, 179, 211, 0.12);
}
.background-dark{
  background-color: rgba(131, 179, 211, 0.2);
}
.hotel-search-button{
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 575px;
}
.hotel-search-description{
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
}
.hotel-search {
  background-color: #ffffff;
}
.subscription-email{
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.apply-filters{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color:#83B3D3;
}
.light {
  font-size: 18px;
  line-height: 23px;
}
.contacts-phone{
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
}
.hotel-list {
  list-style-type:none;
  display: flex;
  flex-wrap:wrap;
}
.hotel-item{
  width: 339px;
}
.name-hotel{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.description-hotel{
  font-size: 18px;
  line-height: 23px;
}
.raiting{
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  background: #F2F2F2;
}
.detailed-hotel{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  color: #FFFFFF;
}
.favourites{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
}
.pagination-show-more{
  width: 619.83px;
  height: 60px;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.pagination{
  list-style-type:none;
}
.pagination-disabled {
  color: #000000;
  background: #F2F2F2;
}
.pagination-link {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 345px;
  margin-left: 30px;
}
.navigation-user {
  margin: 0;
  padding: 0;
  width: 264px;
  margin-left: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
  width: 1200px;
}
.catalog-filter{
  display: flex;
  justify-content:space-between ;
}
.button-filters {
  display: flex;
  flex-direction: column;
  width: 160px;
}
.price-filter{
  width: 300px;
}
.type-housing {
  width: 140px;
}
.infrastructure {
  width: 150px;
}
.catalog-hotel-management {
  display: flex;
}
