.subscription {
  width: 1200px;
  height: 411px;
  background-color: #288bb3;
  color: #ffffff;
  background-image: url("../image/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.filters {
  width: 1200px;
  height: 411px;
  background-color: #288bb3;
  color: #ffffff;
  background-image: url("../image/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
