@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ptsans-700;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ptsans-400;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ptsans-400;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "ptsans-400", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #000000;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.advantages-list {
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 0 0;
  margin: 0;
}

.advantage-picture {
  width: 800px;
  height: 384px;
  margin: 0px;
}

.advantage-picture img {
  width: 100%;
}

.block-advantage {
  display: flex;
}

.advantages-mini {
  list-style-type:none;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  list-style-type:none;
  margin: 35px auto 55px 56px ;
  padding: 0;
  max-width: 157px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-social-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.button-social {
  padding: 15px 15px 15px 15px;
}

.htmlacademy-link {
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 34px 62px 34px 0;
  box-sizing: border-box;
}

.subscription {
  min-height: 411px;
  background-color: #81B3D3;
  color: #ffffff;
  background-image: url("../image/background/background-mailing.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-catalog {
  color:#000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.field {
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 0;
  padding: 0 0 0 22px;
  height: 60px;
  font-family: ptsans-400, sans-serif;
  font-size: 18px;
  margin-right: 0;
}

.filters {
  min-height: 408px;
  background-color: #756257;
  color: #ffffff;
  background-image: url("../image/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: left;
  font-weight: 400;
  padding: 0 71px;
}

.secondary-title {
  text-transform:uppercase;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
}

.sedona-title {
  padding-top: 63px;
  width: 720px;
  font-family: "ptsans-700", sans-serif;
}

.interested-title {
  padding-top: 91px;
}

.subscription-title {
  padding-top: 73px;
  font-family: "ptsans-700", sans-serif;
}

.subscription-title-catalog {
  padding-top: 94px;
  font-family: "ptsans-700", sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.dark-note {
  margin: 0 auto;
  padding-top: 31px;
  font-size: 22px;
  line-height: 36px;
}

.inner-title {
  font-family: "ptsans-700", sans-serif;
  font-size: 60px;
  line-height: 68px;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  list-style-type:none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type:none;
  padding-left: 0;
  margin-top: 30px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom:16px ;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
  margin-right: 19px;
}

.note {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.light-note {
  font-size: 22px;
  line-height: 26px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom:46px;
  width: 475px;
}

.light-note-catalog {
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom:46px;
}

.catalog-hotel {
  text-align: left;
  width: 1057px;
  margin: 0 auto;
}

.catalog-hotel-title {
  margin: 0;
  display: block;
  margin: auto auto auto 0;
  line-height: 39px;
  font-size: 30px;
  font-family: "ptsans-700", sans-serif;
}

.select-control {
  box-sizing: border-box;
  margin-right: 85px;
  width: 287px;
  padding: 12px 75px 13px 19px;
  font: inherit;
  font-size: 18px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url("../image/icon/arrow-select.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: right 21px center;
  -webkit-appearance: none;
  height: 48px;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #83B3D3;
}

.select-control:active {
  color: #E6E6E6;
  border: 2px solid #E6E6E6;
}

.light-text {
  background: #83B3D3;
  color: #FFFFFF;
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box;
  justify-content: center;
}

.advantages-description {
  line-height: 21px;
  margin: 30px 0;
}

.advantages-description-black {
  margin: 20px 0 ;
}

.advantages-big {
  display: flex;
  flex-wrap: wrap;
}

.advantages-bridge {
  display: flex;
}

.dark-text {
  color:#000000;
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.advantages-title {
  text-transform:uppercase;
  width: 200px;
  align-self: center;
  line-height: 28px;
  font-size: 24px;
  font-family: "ptsans-700", sans-serif;
  margin: 30px 0;
}

.advantages-title-black {
  width: 140px;
  margin-top: 23px;
  margin-bottom: 0;
}

.advantages-item-icon {
  align-self: center;
}

.advantages {
  background-color: #ffffff;
  margin:0;
}

.welcome {
  margin-top: -30px;
}

.promo {
  background-color: #E5E5E5;
  background: url("../image/icon/polygonal.svg"), url("../image/background/background-welcome-sedona.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom 0, top center;
  background-size: 100% 57px, 100%;
  min-height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-background {
  background: rgba(131, 179, 211, 0.12);
}

.translucent-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search-button {
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
  display: block;
  margin: 0 auto 91px;
  padding:15px 0 15px 0;
  box-sizing:border-box;
  text-align: center;
  border-radius: 10px;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 580px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 56px;
}

.hotel-search {
  background-color: #ffffff;
}

.apply-filters{
  font-family: "ptsans-700", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color:#83B3D3;
  border:none;
  border-radius: 4px;
}

.light {
  font-size: 18px;
}

.contacts-phone {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-list {
  list-style-type:none;
  display: flex;
  flex-wrap:wrap;
  margin: 0 0 30px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 339px 339px 339px;
  gap: 18px;
}

.hotel-item {
  max-width: 339px;
  padding: 20px;
  display: grid;
  gap:16px;
}

.foto {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000000;
}

.name-hotel {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  font-family: "ptsans-700", sans-serif;
  padding-top: 16px;
}

.description-hotel {
  font-family: "ptsans-400", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.raiting {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  width: 160px;
  min-height: 37px;
  border-radius: 4px;
  text-align: center;
  padding: 1px 6px;
  box-sizing: border-box;
}

.detailed-hotel {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #756257;
  color: #FFFFFF;
  min-height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 1px 6px;
}

.detailed-hotel:hover {
  background-color:  #615048;
}

.detailed-hotel:focus {
  background-color:  #615048;
  outline: 3px solid #83B3D3;
}

.detailed-hotel:active {
  background-color:  #615048;
  color: rgba(255, 255, 255, 0.3);
}

.estimation {
  display: grid;
  grid-template-columns: auto 160px;
  align-items: center;
}

.favourites {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#83B3D3;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-family: "ptsans-700", sans-serif;
  min-height: 37px;
}

.favourites.active {
  background-color: #7DB54F;
}

.favourites:hover {
  background-color: #68A2CA;
  border: 1px solid #756257;
}

.favourites:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.favourites:active {
  background-color: #68A2CA;
  border: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.favourites.active:hover {
  background-color: #6C9E42;
  border: none;
}

.favourites.active:focus {
  background-color: #6C9E42;
}

.favourites.active:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  box-sizing: border-box;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-show-more {
  display: block;
  box-sizing: border-box;
  width: 620px;
  min-height: 60px;
  background-color:#83B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 30px auto;
  border: none;
  border-radius: 4px;
  font-family: "ptsans-700", sans-serif;
}

.pagination-show-more-container {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination {
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0 0;
  max-width: 600px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  margin-top: 8px;
}

.pagination-item .pagination-disabled {
  color: #000000;
  background-color:#F2F2F2;
}

.pagination-link {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
  margin-top: -4px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  margin: 0;
  margin-bottom: -7px;
  cursor: pointer;
}

.logo:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.navigation-list {
  padding: 0;
  max-width: 500px;
  margin: 0 auto 0 30px;
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  padding: 0;
  margin: 0;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  justify-content: flex-end;
  align-content: center;
}

.navigation-user .navigation-link {
  padding: 15px 10px;
}

.navigation-link {
  font-family: "ptsans-700", sans-serif;
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0 1px;
  padding:19px 17px;
  display: block;
}

.navigation-link.popup {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #FFFFFF;
  text-transform:uppercase;
  padding: 9px 35px;
  margin:7px 0 0 20px;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 3px 0 10px #D3D3D3, -3px 0 10px #D3D3D3;
}

.page-footer {
  min-height: 100%;
  padding: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
  width: 1200px;
  box-sizing: border-box;
}

.catalog-filter {
  display: grid;
  gap: 6px;
  grid-template-columns: 210px 305px 362px 160px;
  margin-top: 45px;
}

.button-filters {
  display: grid;
  align-items: end;
  align-content: end;
  gap: 20px;
  width: 160px;
}

.button.apply-filters {
  min-height: 48px;
  color: #ffffff;
  padding: 0;
}

.button.light {
  min-height: 23px;
  padding: 0;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0);
  border: none;
}

.price {
  display: grid;
  justify-items:start;
  grid-template-columns: 133px 141px;
  gap:25px;
}

.type-housing {
  max-width: 140px;
}

.infrastructure {
  max-width: 150px;
}

.catalog-hotel-management {
  display: flex;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 53px;
  flex-wrap: wrap;
}

.button-view {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button-view:hover,
.button-view:focus,
.button-view:active {
  border: none;
  outline: 2px solid #83B3D3;
}

.selected {
  border: 2px solid #000000;
}

.foto:hover .foto-hotel {
  opacity: 0.6;
}

.foto:focus {
  outline: 3px solid #83B3D3;
}

.foto:active .foto-hotel {
  opacity: 0.3;
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.subscription-form-catalog {
  margin-bottom: 140px;
}

.subscription-form {
  height: 60px;
  display: grid;
  grid-template-columns:  min-content 600px 200px;
  grid-template-rows: min-content;
  justify-content: center;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
}

.price-from {
  height: 48px;
  border-radius: 5px 0 0 5px;
  align-self: end;
  padding: 0;
  padding-left: 10px;
  border: #ffffff;
}

.price-to {
  height: 48px;
  border-radius: 0 5px 5px 0;
  padding: 0;
  padding-left: 10px;
  border: #ffffff;
}

.input-price-group {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: 82px 40px ;
  align-items: end;
}

.range-price {
  grid-column: 1/3;
}

.link-detailed {
  display: grid;
  grid-template-columns: 133px 141px;
  gap:25px;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon {
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill:rgba(117, 98, 87, 1);
}

.navigation-link:focus .navigation-icon {
  fill:rgba(117, 98, 87, 0);
}

.navigation-link:active .navigation-icon {
  fill:rgba(117, 98, 87, 0.3);
}

.navigation-item-catalog-current {
  position: relative;
}

.navigation-item-catalog-current::before {
  position: absolute;
  right: 17px;
  bottom: 3px;
  left: 17px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
  padding: 0;
}

.navigation-item-main-current {
  position: relative;
}

.hotel-search-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.hotel-search-button:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: 3px solid #83B3D3;
}

.hotel-search-button:active {
  background-color: #615048;
  color:rgba(255, 255, 255, 0.3);
}

.field:hover {
  background-color: #E5E5E5;
}

.field:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.footer-social-icon {
  fill: #83B3D3;
}

.button-social:hover .footer-social-icon {
  fill: #68a3ca;
}

.button-social:focus .footer-social-icon {
  fill: #68a3ca;
}

.button-social:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.button-social:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link:hover .htmlacademy-link-icon {
  fill: #756257;
}

.htmlacademy-link:focus .htmlacademy-link-icon {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-link:active .htmlacademy-link-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link-icon {
  fill:#000000;
}

.html-link {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item-main::after {
  position: absolute;
  left: 20px;
  bottom: 7px;
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0) ;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
  transform: rotate(45deg);
}

.breadcrumbs-link {
  margin-right: 26px;
  font-size: 16px;
}

.navigation-item-main-current::before {
  position: absolute;
  right: 17px;
  bottom: -2px;
  left: 17px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
}

.breadcrumbs-item-main {
  position: relative;
  display: block;
}

.block-advantage-mini {
  padding-left: 75px;
  padding-right: 75px;
}

.button {
  cursor: pointer;
}

.subscription-email {
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  min-height: 60px;
  border: 0;
  border: none;
}

.subscription-email:hover {
  background-color: #68A2CA;
}

.subscription-email:focus {
  outline: 3px solid #756257;
}

.subscription-email:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.subscription-email:disabled {
  background-color: #ffffff;
  border: 2px solid #FF5757;
}

.subscription-email.button {
  margin-left: 0;
  line-height: 26px;
  font-size: 20px;
  font-family: "ptsans-700", sans-serif;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:focus {
  outline: 3px solid #756257;
}

.pagination-show-more:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.counter {
  background-color: #7DB54F;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top:10px;
  margin-left:-17px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-item-likes {
  display: flex;
}

.apply-filters:hover {
  background-color: #68A2CA;
}

.apply-filters:focus {
  background-color: #68A2CA;
  outline: 3px solid #ffffff;
}

.apply-filters:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.light:hover {
  color: rgba(255, 255, 255, 0.6);
}

.light:focus{
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.light:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 62px 62px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border: none;
  background-image: url("../image/icon/close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 54px;
  font-family: "ptsans-700", sans-serif;
  font-size: 30px;
  line-height: 53px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  vertical-align:text-top;
}

.modal-input-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 155px 133px 56px 230px;
  grid-template-rows: 79px 79px 50px 89px;
  row-gap: 11px;
}

.modal-input-item {
  list-style-type: none;
}

.data-start {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 155px 420px;
  grid-template-rows: 50px 29px;
}

.data-end {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 155px 420px;
  grid-template-rows: 50px 29px;
}

.item-submit {
  grid-column: 1/-1;
  margin-top: 29px;
}

.comment-message {
  grid-column: 2/-1;
}

.item-adults {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 155px 133px;
}

.item-children {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: 97px 133px;
}

.label-input {
  font-family: "ptsans-700", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.comment-message {
  font-family: "ptsans-400", sans-serif;
  font-size: 16px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: start;
}

.comment-message.error {
  color: #FF5757;
}

.modal-input {
  font-family: "ptsans-700", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.modal-input-date {
  padding: 0 19px 0 19px;
  width: 100%;
}

.calendar {
  position: absolute;
  fill: rgba(0, 0, 0, 0.3);
  right:19px;
  top:18px;
}

.modal-input-submit {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: "ptsans-700", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-input-number {
  text-align: center;
  text-underline-position: auto;
  box-sizing: border-box;
  width: 133px;
}

.tooltip-icon {
  fill: #83B3D3;
  color: #FFFFFF;
}

.tooltip {
  position: absolute;
  margin-left: 54px;
  width: 15px;
  height: 15px;
  top:12px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
  left: 12px;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #000000;
}

.modal-container-close {
  display: none;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  margin-top: 34px;
  display: flex;
}

.range-input {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  height: 48px;
  box-sizing: border-box;
  width: 143px;
  font-family: "ptsans-400", sans-serif;
  font-size: 18px;
  padding-left: 18px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance:textfield;
}

.modal-input-number[type="number"] {
  -moz-appearance:textfield;
}

.modal-input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  -webkit-appearance: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  display: none;
  appearance: none;
  margin: 0;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input-min {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.explanation {
  position: absolute;
  margin-left: -30px;
  margin-top: 12px;
  color:rgba(255, 255, 255, 0.3);
  font-family: "ptsans-400", sans-serif;
  font-size: 18px;
}

.range-input-max {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../image/icon/checkbox-mark.svg");
  background-size: 12px 10px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 3px solid #83B3D3;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.range-input:active {
  background-color: #756257;
}

.control-input:disabled + .control-mark {
  background-color: #ffffff;
  outline: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../image/icon/corner.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -9px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal-input-container {
  display: flex;
  position: relative;
}

.modal-input-plus {
  border: none;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.icon-modal-plus {
  margin-top: 5px;
  padding: 3px;
}

.icon-modal-minus {
  margin-top: 5px;
  padding: 9px 3px;
}

.icon-modal-input {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-input-plus:hover .icon-modal-input,
.modal-input-minus:hover .icon-modal-input {
  fill: #000000;
}

.modal-input-plus:focus .icon-modal-input,
.modal-input-minus:focus .icon-modal-input  {
  fill: #000000;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-input-plus:active .icon-modal-input,
.modal-input-minus:active .icon-modal-input {
  fill: rgba(0, 0, 0, 0.2);
}

.modal-input-minus {
  border: none;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.popup:hover {
  background-color: #615048;
  color: #ffffff;
}

.popup:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.popup:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.modal-input-submit:hover {
  background-color: #68A2CA;
}

.modal-input-submit:focus {
  outline: 3px solid #756257;
}

.modal-input-submit:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.select-control-container {
  display: flex;
  margin: 30px 0 0 0;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
}

.select-control-number {
  margin: 0 0 0 50px;
  max-width: 160px;
}

.title-select-control {
  font-size: 18px;
  line-height: 23px;
}
